* {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    width: 100%;
    padding: 16px;
}
.profile-img {
  padding-bottom: 33px;
}
.main-header,
.bottom-nav {
    list-style: none;
}
a {
    text-decoration: none;
}

.nav-bar {
    margin-bottom: 8px;
    padding: 8px 0 8px;
}
h1{
    font-weight: bold;
    font-size: 24px;
    padding: 16px 0 24px;
}
main {
    text-align: center;
}
#home {
    padding: 32px 16px 0;
    display: flex;
    flex-direction: column;
}
.box-img {
    display: flex;
    margin: auto;
    width: 88%;
    padding-top: 24px;
}
.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;
}
h2 {
    font-weight: bold;
    padding: 40px 0 24px;
    text-transform: uppercase;
}
h3 {
    font-size: 1.4rem;
    padding: 32px 0 24px;
}
p {
    padding: 0 32px 32px;
}

#contact {
    padding: 16px 0 72px;
}

label {
    padding-right: 16px;
}
#phone-link {
    padding-bottom: 24px;
}
footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 32px 0;
    border-top: 8px ;
    width: 100%;
}
#footer {
    text-align: left;
    padding-left: 24px;

}
.bottom-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.top,
.bottom-bar {
    text-align: right;
    padding-right: 24px;
    text-transform: uppercase;
}
.bottom-bar {
    display: none;
}
@media screen and (min-width: 768px) {
    nav {
        padding-top: 40px;
    }
    .intro {
      text-align: left;
    }
    .main-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0% 20% 0 20%;

    }
    h1 {
        width: 100%;
    }
    h2 {
        padding: 56px 0 56px;
    }
    .nav-bar {
        width: 15%;
        margin: 1em 0 1.3em;
        border: none;
    }

    .box-img {
        padding-right: 30px;
        width: 90%;
    }
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .col {
        width: 50%;
    }

    #contact p {
        width: 60%;
        margin: auto;
        padding-bottom: 50px;
      }
    footer {
        padding-bottom: 50px;
    }
    .top {
        display: none;
    }
    .bottom-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        }
}
@media screen and (min-width: 1024px) {


    .intro {
      text-align: left;
    }
    .profile-img {
      width: 60%;
    }

    #home {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-direction: row-reverse;
    }
    .main-header {
        flex-wrap: nowrap;
        padding: 0;
    }
    h1 {
        padding-left: 30px;
        text-align: left;
    }
    .nav-bar {
        padding-right: 30px;
        margin: 0;
    }
    .col {
        width: 30%;
        justify-content: space-around;
    }
    #contact p {
        width: 60%;
        margin: auto;
        padding-bottom: 56px;
    }
}
